.header
{
    background-color: lightblue;
    color: white;
    font-size: 30px;
    position: sticky;
    padding: 10px;
    margin: 50px;
    top: 0px;
}

body
{
    height: 500vh;
}

ul
{
    list-style: none;
    text-transform: capitalize;
    line-height: 3;
    font-family: 'Uchen', serif;
    margin-left: 50px;
    font-size: 20px;

}

 li::before
 {
    content:"\260E";
 }

h1{
    text-align: center;
    text-shadow: 2px 3px 1px red;
}

